@import "~bootstrap/scss/bootstrap"; 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    margin-right: 1rem;
  }
}

// .alerte-enter {
//   opacity: 0;
// }

// .alerte-enter-active {
//   transition: opacity 750ms ease-out;
//   opacity: 1;
// }

// .alerte-enter-active {
//   transition: opacity 750ms ease-out;
//   opacity: 0;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
